{% extends 'base.html.twig' %}

{% block title %}Modifier la page{% endblock %}

{% block body %}
    <h1>Modifier la page</h1>
        {{ include('page/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <br>
        {{ include('page/_delete_form.html.twig') }}
{% endblock %}
