{% extends 'base.html.twig' %}

{% block title %}Nouvelle page{% endblock %}

{% block body %}
    <h1>Nouvelle page</h1>

    {{ include('page/_form.html.twig') }}

    <br><a class="btn btn-secondary" href="{{ path('app_page_index') }}">Revenir à la liste</a>
{% endblock %}