<form method="post" action="{{ path('app_date_p_d_f_delete', {'id': date_p_d_f.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ date_p_d_f.id) }}">
    <button class="btn">Delete</button>
</form>
