{% extends 'base.html.twig' %}

{% block title %}Modification des dates{% endblock %}

{% block body %}
    <h1>Modification des dates du PDF</h1>

    {{ include('date_pdf/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-secondary mt-3" href="{{ path('app_formation_index') }}">Retour</a>

{% endblock %}
