{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <p align="center">
       Collecte et utilisation des données personnelles :<br>
        Nous collectons les données personnelles suivantes auprès des utilisateurs de notre site web : [liste des données collectées]. Ces données sont collectées dans le but de [objectif de la collecte des données]. Elles sont utilisées uniquement dans le cadre de [utilisation prévue des données].<br>
        <br>
        Consentement :<br>
        En utilisant notre site web, vous consentez à la collecte et à l'utilisation de vos données personnelles conformément à ces règles de confidentialité.<br>
        <br>
        Conservation des données :<br>
        Nous conservons vos données personnelles pendant la période nécessaire pour atteindre les objectifs pour lesquels elles ont été collectées, sauf si la loi exige une conservation plus longue.<br>
        <br>
        Protection des données :<br>
        Nous mettons en place des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès non autorisé, toute divulgation, toute modification ou destruction non autorisée.<br>
        <br>
        Partage des données :<br>
        Nous ne partageons pas vos données personnelles avec des tiers, sauf dans les cas suivants : [listez les cas spécifiques de partage des données, le cas échéant].<br>
        <br>
        Cookies :<br>
        Notre site web utilise des cookies pour améliorer l'expérience de navigation. Les cookies sont de petits fichiers stockés sur votre ordinateur qui permettent une personnalisation de la navigation. Vous pouvez configurer votre navigateur pour refuser tous les cookies ou être averti lorsqu'un cookie est envoyé.<br>
        <br>
        Droits des utilisateurs :<br>
        Vous avez le droit d'accéder à vos données personnelles, de les corriger, de les supprimer ou de vous opposer à leur traitement. Pour exercer ces droits, veuillez nous contacter à [adresse e-mail ou adresse postale].<br>
        <br>
        Modifications des règles de confidentialité :<br>
        Nous nous réservons le droit de modifier ces règles de confidentialité à tout moment. Toute modification sera affichée sur cette page avec une date de mise à jour.<br>
    </p>
{% endblock %}