{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container-fluid text-center">

    <img src="images/fc_pro.png">
    <h1>Centre de formation - F.C. Pro</h1>
    <br>
    <h4>Service de Formation Professionnelle Continue <br> OGEC NOTRE DAME DE LA PROVIDENCE</h2>

    <br><br>
	<hr class="featurette-divider">
    <br><br>

    <h5>FC PRO, service de formation professionnelle continue de l'OGEC Notre Dame de la Providence à Avranches (50), organise des actions de formation destinées essentiellement aux personnels enseignants et non enseignants des établissements d'enseignement catholique sous contrat avec l'Etat.</h5>
    <br><br><br>

    <p class="lead">
    <strong>Les actions de formation de FC PRO</strong>
    <br><br>
    <em>L'information sur les actions de formation est présente sur des supports numériques différents selon le statut des futurs stagiaires : les professeurs de enseignement catholique ou les personnels OGEC de l'enseignement catholique. Dans tous les cas, Les stagiaires de la formation professionnelle continue sont concernés par un Réglement intérieur FC PRO 2021 2022 dédié. Nos actions de formation sont développées sur mesure, pour plus d'informations, merci de nous contacter.</em>
    <br><br><br>
    <strong>Les professeurs</strong>
    <br><br>
    <em>Dès septembre 2022, les enseignants de l'enseignement catholique pourront s'inscrire aux actions de formation de leur choix via https://www.formiris.org, le site de Formiris ; le chef d'établissement pourra ensuite valider cette inscription.</em>
    <br><br><br>
    <strong>Les personnels non-enseignants (OGEC)</strong>
    <br><br>
    <em>Les personnels administratifs, d'éducation, de services et techniques de l'enseignement catholique doivent rechercher les actions de formation de FC PRO sur le site d'AKTO réseau OPCALIA (espaceformation.opcalia.com) et demander au chef d'établissement leur inscription; cela vaudra convention de formation et demande de prise en charge selon les règles de gestion d'AKTO réseau OPCALIA correspondant à l'établissement du personnel OGEC.</em>
    </p>

    <br><br>
	<hr class="featurette-divider">
    <br><br>

    <h6>CONTACT</h6>
    <br>
    Alexia HEBERT, <em>Responsable FC PRO</em>
    <br>
    Téléphone: 02.33.58.02.22
    <br>
    Mail: fcpro@ndlpavranches.fr

</div>


{% endblock %}
