{% extends 'base.html.twig' %}

{% block title %}New Proposition{% endblock %}

{% block body %}
    <h1>Créer une nouvelle proposition</h1>

    {{ include('proposition/_form.html.twig') }}

{% endblock %}
