{% extends 'base.html.twig' %}

{% block title %}Nouvelle Proposition{% endblock %}

{% block body %}
    <h1>Faire une proposition</h1>

    {{ include('proposition/_form.html.twig') }}

{% endblock %}
