{% extends 'base.html.twig' %}

{% block title %}Evaluer nos formations{% endblock %}

{% block body %}
    <h1>Evaluer nos formations</h1>

    {{ include('notation/_form.html.twig') }}

{% endblock %}
